*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
     font-size: 62.5%;
    font-family: 'Otomanopee One', sans-serif;
}
.main_div{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( 
315deg
 , #ef5757 0%, #ba3737 74%);
display: grid;
 place-items: center;        /* to make all thing in center */
}
.music_container{
    width:36rem;
    height: 55rem;
    background-color: #e96e6e;
    border-radius: 2rem;
    box-shadow: 0 0 5px #e96e6e,
                0 0 25px black,
                0 0 55px black,
                0 0 70px rgba(0, 0, 0, 0.514);
    padding: 3rem;
    text-align: center;
}

.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: black;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem black;

}

.music_container #artist{
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

.img_container{
    width: 25rem;
    height: 25rem;
    margin: auto;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px #da4a51, 0 0 25px #dc5be4, 0 0 55px #ea0a7c;
}





.music_controls{
      width: 20rem;
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-top: 1rem;
      align-items: center;
}

.music_controls .fas{
    color: black;
    font-size: 2.5rem;
    cursor: pointer;
    filter: drop-shadow( 0 1.2rem 3rem 0.5rem black);
}

.music_controls .main_button{
     width: 5rem;
     height: 5rem;
     border-radius: 50%;
     background-color: black;
     color: #f6f6f6;
     font-size: 1.7rem;
     display: flex;
     justify-content: center;
     align-items: center;


  }
  .music_controls .fas:hover{
      color: #f7ecec;
      transition: 0.6s;
  }

  .music_controls .fa-play:hover{
      color: black;
      background-color:white;
      box-shadow: 0 1.2rem 3rem 0.5rem black;
  }

  .anime{
      animation: rotatePlayer 3s linear infinite;
  }

  @keyframes rotatePlayer{
      from {transform: rotate(0deg);}
      to {
          transform: rotate(360deg);

      }
      

  }

  /* progress style */

  .progressbar_container{
      width: 100%;
      height: auto;
      padding: 1rem 0;
      margin-top: 1rem;
    }

    .progress_div{
        width: 100%;
        height: 0.5rem;
        box-shadow: 0 1px 2px 0 #d11212,0 2px 4px 0 #d11212,0 4px 8px 0 #d11212,0 8px 16px 0 #d11212;
        border-radius: 4rem;
        margin-top:0.5rem ;
        position: relative;
        transition: width 1s linear;
        cursor: pointer;
        appearance: pointer;
    }

    .progress{
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: black;
        border-radius: 4rem;
 transition: width 0.4s linear;
       cursor: pointer;
        appearance: pointer;
    }

    .progress_duration_meter{
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }